\bernadetta_darska_2022-08-12.json
\pgajda_2022-08-18.json
\__pycache__
\settings.yaml
\client_secrets.json
\raporty_ze_scrapowania.xlsx
\chromedriver.exe
\ghostdriver.log
\data
geckodriver.exe
geckodriver.log
.ipynb_checkpoints/
.virtual_documents/
web_scraping_env
OpenAI_key.txt